* {
  margin: 0;
  padding: 0;
}
.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}
@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}
.hidden {
  display: none !important;
}
.player {
  position: relative;
  max-height: 70vh;
  margin: 0 auto 0 auto;
  background-color: white;
  color: white;
  font-family: monospace;
  touch-action: pinch-zoom;
  user-select: none;
}
.player button {
  color: white;
  border-width: 0;
  background-color: transparent;
}
.player button:active {
  transform: scale(0.95);
}
.player svg > path {
  fill: white;
}
.player .preview, canvas {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  image-rendering: pixelated;
  cursor: pointer;
}
.player canvas {
  display: none;
}
.player.started canvas {
  display: block;
}
.player.started .preview {
  display: none;
}
/* overlay */
.overlay > * {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 30%;
}
.big-play-button {
  display: none;
  cursor: pointer;
}
.player:not(.started) .big-play-button {
  display: block;
}
.big-play-button:active {
  transform: translateX(-50%) translateY(-50%) scale(0.95) !important;
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fade-out {
  opacity: 1;
  animation-name: fade-out;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
.big-stop {
  opacity: 0;
  pointer-events: none;
}
.big-restart {
  opacity: 0;
  pointer-events: none;
}
/* control-bar */
.control-bar {
  position: absolute;
  left: 0;
  width: 100%;
  transform: translateY(-100%);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-color: black;
  opacity: 0;
  transition: opacity 0.2s ease-in 1s;
  padding-top: 0.3em;
}
.control-bar:hover {
  opacity: 1;
  transition: opacity 0.2s ease-in 0.2s;
}
.control-bar button {
  width: 2em;
  padding: 0 0.2em;
}
.control-bar div {
  transform: translateY(-5%);
}
/* left-controls */
.left-controls {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
}
.player.started .play-button {
  display: none;
}
.stop-button {
  display: none;
}
.player.started .stop-button {
  display: inline;
}
.player.stopped .stop-button {
  display: none;
}
.restart-button {
  display: none;
}
.player.stopped .restart-button {
  display: inline;
}
/* right-controls */
.right-controls {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
}
.repeat-button .repeat-on-icon {
  display: none;
}
.player.repeat .repeat-on-icon {
  display: block;
}
.player.repeat .repeat-icon {
  display: none;
}
.player .fullscreen-exit-icon{
  display: none;
}
.player:fullscreen .fullscreen-exit-icon{
  display: block;
}
.player:fullscreen .fullscreen-icon{
  display: none;
}